title: "{{ site.data.portfolio.site.title }}"
description: "{{ site.data.portfolio.site.description }}"
author: "{{ site.data.portfolio.site.author }}"
email: "{{ site.data.portfolio.site.email }}"
baseurl: "{{ site.data.portfolio.site.baseurl }}"
url: "{{ site.data.portfolio.site.url }}"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"