<section class="blog" id="blog">
    <div class="container">
        <h2 class="section-title">{{ site.data.portfolio.blog.title }}</h2>
        
        <div class="blog-grid">
            {% for post in site.posts limit: site.data.portfolio.blog.show_posts %}
            <article class="blog-card">
                <div class="blog-meta">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date: "%B %d, %Y" }}
                    </time>
                </div>
                
                <h3 class="blog-title">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h3>
                
                <p class="blog-excerpt">
                    {{ post.excerpt | strip_html | truncatewords: 20 }}
                </p>
                
                <a href="{{ post.url | relative_url }}" class="read-more">Read More</a>
            </article>
            {% endfor %}
        </div>
        
        <div class="blog-cta">
            <a href="{{ '/blog' | relative_url }}" class="cta-button">View All Posts</a>
        </div>
    </div>
</section>